{% extends 'base.html' %}
{% load static %}
{% block titulo %}
<title>Autores - Caos News</title>
{% endblock titulo %}
{% block link_activos %}
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'index'%}">Inicio</a>
        </li>
        {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'enviar_n' %}">Subir noticia</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'mis_notis' %}">Mis Noticias</a>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'nos' %}">Nosotros</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'contac' %}">Contactanos</a>
            </li>
        {% endif %} 
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Noticias
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li>
                        <h6 class="dropdown-header">Por Categoria</h6>
                    </li>
                        {% for x in categorias %}
                            <li><a class="dropdown-item" href="{% url 'categ' x.nombre_catg %}">{{x.nombre_catg}}</a></li>
                        {% endfor %}                          
                    <li>
                    <hr class="dropdown-divider">
                    </li>
                        <li><a class="dropdown-item" href="{% url 'autores'%}">Por Autor</a></li>                         
                </ul>
            </li>
{% endblock link_activos %}
   <!--Miembros-->
{% block contenido%}
<main>
        <!--Barra de busqueda-->
        <nav class="navbar sticky-top" id="barra-busqueda">
            <div class="container-fluid ">
                <span class="navbar-text">
                {% if user.is_authenticated %}
                    <h4> Bienvenido(a) {{user.first_name}} {{user.last_name}} </h4>
                {% else %}
                    <h4>Noticas Frescas</h4>
                {% endif %} 
                </span>
                <form class="d-flex" method="POST" action="{% url 'filter_d'%}">
                {% csrf_token %}
                    <input class="form-control me-2" type="search" placeholder="Noticias Frescas..." name="txtbusqueda" aria-label="Search">
                    <button id="boton" class="btn btn-outline" type="submit">Buscar</button>
                </form>
            </div>
        </nav>
    <section class="container-fluid" style="min-height:688px;">
        <div class="row ms-5 p-5">
            <div class="d-block text-center mt-4">
                <h2 style="margin-bottom: 50px;">Nuestros Autores</h2>
            </div>
            <div class="row justify-content-center">
            {% for item in users %}
                <div id="tarjeta" class="card me-auto mt-4" style="width: 18rem; border-radius: 15px;">
                    <a href="{% url 'f_autor' item.username %}" style="text-decoration: none;"><img src="{% static 'img/team/fem-01.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p id="texto-tarj" class="card-text" style="text-align: center" >{{item.username}}</p>
                    </div></a>
                </div>
            {% endfor %}
            </div>          
        </div>
    </section>
{% endblock contenido%}
{% block categorias %}
    {% for x in categorias %}
        <li><a href="{% url 'categ' x.nombre_catg %}">{{x.nombre_catg}}</a></li>
    {% endfor %}                        
{% endblock categorias %}