{% extends 'base.html' %}
{% load static %}
{% block titulo %}
<title>Galeria - Caos News</title>
{% endblock titulo %}
{% block link_activos %}
<ul class="navbar-nav me-auto mb-2 mb-lg-0">
    <li class="nav-item">
        <a class="nav-link" aria-current="page" href="{% url 'index'%}">Inicio</a>
    </li>
    {% if user.is_authenticated %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'enviar_n' %}">Subir noticia</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'mis_notis' %}">Mis Noticias</a>
    </li>
    {% else %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'nos' %}">Nosotros</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'contac' %}">Contactanos</a>
    </li>
    {% endif %}
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Noticias
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
                <h6 class="dropdown-header">Por Categoria</h6>
            </li>
            {% for x in categorias %}
            <li><a class="dropdown-item" href="{% url 'categ' x.nombre_catg %}">{{x.nombre_catg}}</a></li>
            {% endfor %}
            <li>
                <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="{% url 'autores'%}">Por Autor</a></li>
        </ul>
    </li>
{% endblock link_activos %}
{% block contenido %}
<main>
        <!--Barra de busqueda-->
        <nav class="navbar sticky-top" id="barra-busqueda">
            <div class="container-fluid ">
                <span class="navbar-text">
                {% if user.is_authenticated %}
                    <h4> Bienvenido(a) {{user.first_name}} {{user.last_name}} </h4>
                {% else %}
                    <h4>Noticas Frescas</h4>
                {% endif %} 
                </span>
                <form class="d-flex" method="POST" action="{% url 'filter_d'%}">
                {% csrf_token %}
                    <input class="form-control me-2" type="search" placeholder="Noticias Frescas..." name="txtbusqueda" aria-label="Search">
                    <button id="boton" class="btn btn-outline" type="submit">Buscar</button>
                </form>
            </div>
        </nav>
        <!--Galeria-->
        <section class="container-fluid p-5" style="min-height: 34rem;" id="galeria">
            {% for x in todo %}
            <div id="tarjeta">
                <a href="{{x.imagen.url}}" data-fancybox="gall-new1"
                    data-caption="Autor imagen-01"><img src="{{x.imagen.url}}" alt=""> </a>
                <h5>Imagen {{x.cod_img}} - {{x.not_gal.autor}} </h5>
            </div>
            {% endfor %}
        </section>
        <section class="container-fluid mt-4 p-5">
            <div class="text-center">
                <a href="{% url 'noti' galeria.not_gal.nombre_not %}"><p><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-arrow-bar-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M12.5 15a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5zM10 8a.5.5 0 0 1-.5.5H3.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L3.707 7.5H9.5a.5.5 0 0 1 .5.5z"/>
                  </svg><h3>Volver</h3></p></a>
            </div>
        </section>
{% endblock contenido %}
