{% extends 'base.html' %}
{% load static %}
{% block link_activos %}
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="{% url 'index'%}">Inicio</a>
                        </li>
                        {% if user.is_authenticated %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'enviar_n' %}">Subir noticia</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'mis_notis' %}">Mis Noticias</a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                            <a class="nav-link" href="{% url 'nos' %}">Nosotros</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'contac' %}">Contactanos</a>
                        </li>
                        {% endif %} 
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Noticias
                            </a>

                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li>
                                    <h6 class="dropdown-header">Por Categoria</h6>
                                </li>
                                    {% for x in categorias %}
                                        <li><a class="dropdown-item" href="{% url 'categ' x.nombre_catg %}">{{x.nombre_catg}}</a></li>
                                    {% endfor %}                          
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="{% url 'autores'%}">Por Autor</a></li>                         
                            </ul>
                        </li>
{% endblock link_activos %}
{%block contenido%}
      <main>
        <section class="container-fluid">
            <div class="modal-dialog text-center">
                <div class="col-sm-8 main-section">
                    <div class="modal-content">
                        <div class="col-12 user-img">
                            <img src="{% static 'img/background/avatarregistro2.png'%}" />
                        </div>
                        <form class="col-12" method="POST" action="{% url 'ingresar' %}">
                            {% csrf_token %}
                            <div class="form-group" >
                                <input type="text" class="form-control" placeholder="Nombre Usuario" name="name_user" />
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="Contrasena" name="pass_user" />
                            </div>
                            <button type="submit" class="btn btn-primary" id="boton"
                                    class="fas fa-sign-in-alt"></i>Ingresar</button>
                        </form>
                        <div class="col-12 forgot">
                            <a href="#">Recordar Contrasena</a>
                            <p>{{mensaje}}</p>
                            <p>{{nombre}}</p>
                            <p>{{us_auth}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
{% endblock contenido%}
        {% block categorias %}
        {% for x in categorias %}
        <li><a href="{% url 'categ' x.nombre_catg %}">{{x.nombre_catg}}</a></li>
        {% endfor %}
        {% endblock categorias %}