{% extends 'base.html' %}
{% load static %}
{% block titulo %}
<title>Nosotros - Caos News</title>
{% endblock titulo %}
{% block link_activos %}
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
    <li class="nav-item">
        <a class="nav-link" aria-current="page" href="{% url 'index'%}">Inicio</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="{% url 'nos' %}">Nosotros</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'contac' %}">Contactanos</a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Noticias
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
                <h6 class="dropdown-header">Por Categoria</h6>
            </li>
            {% for x in categorias %}
                <li><a class="dropdown-item" href="{% url 'categ' x.nombre_catg %}">{{x.nombre_catg}}</a></li>
            {% endfor %} 
            <li>
                <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="Cat_Autor.html">Por Autor</a></li>
        </ul>
    </li>
{% endblock link_activos %}

{% block contenido %}
<main>
        <!--Barra de busqueda-->
        <nav class="navbar sticky-top" id="barra-busqueda">
            <div class="container-fluid ">
                <span class="navbar-text">
                    <h4>Noticias Frescas</h4>
                </span>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Buscar..." aria-label="Search">
                    <button id="boton" class="btn btn-outline" type="submit">Buscar</button>
                </form>
            </div>
        </nav>
    <section class="container-fluid">
        <div class="row">
            <div class="d-block text-center mt-4 ">
                <h2 style=" color: black;">Historia</h2>
            </div>
            <div class="row">
                <div class="col-9 col-lg-10 border-botton animate__animated animate__fadeInLeft" id="nosotros">
                    <p style="margin-top: 50px; margin-left: 50px; color: black; text-align: justify;">Lorem
                        ipsum dolor sit amet consectetur adipisicing elit. Nulla hic aspernatur, voluptatum
                        laboriosam
                        similique saepe perspiciatis quod necessitatibus autem temporibus officiis explicabo
                        eligendi
                        quas,
                        omnis quidem at eos quasi dolorum.l
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. A inventore quis adipisci
                        magni
                        quidem
                        earum tempore enim laborum sed porro voluptate vero doloremque at pariatur, ex omnis
                        temporibus
                        ad
                        facere.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni voluptas, rerum dicta vel
                        labore
                        dolor molestiae ipsum ipsam et ad obcaecati? Enim odit facilis sed aperiam, tenetur sint
                        aliquam
                        ex? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam aliquid
                        molestias
                        eum amet veniam perferendis expedita repellat magnam unde beatae voluptates, aperiam
                        voluptas! Consequatur, esse maxime porro corrupti saepe debitis. Lorem ipsum dolor sit
                        amet,
                        consectetur adipisicing elit. Quas excepturi, eius eos magni dolorem debitis, porro,
                        nobis
                        repudiandae exercitationem sit illo possimus et dolorum nulla similique cum animi
                        voluptates
                        asperiores? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequuntur ipsam
                        harum blanditiis nesciunt odit eius sunt rerum dolor non suscipit accusamus similique
                        sit,
                        omnis iste mollitia labore, sint iure animi!
                    </p>
                </div>
                <div class="col-3 col-lg-2">
                    <div id="ico_up" class="bloques-nosotros animate__animated animate__fadeInRight">
                        <img src="{% static 'img/animacion/caos_up.png' %}" alt="" width="70" height="70">
                    </div>
                    <div id="ico_mid"
                        class="bloques-nosotros mt-5 animate__animated animate__fadeInRight animate__delay-1s">
                        <img src="{% static 'img/animacion/caos_mid.png' %}" alt="" width="100" height="100">
                    </div>
                    <div id="ico_down"
                        class="bloques-nosotros mt-5 animate__animated animate__fadeInRight animate__delay-2s">
                        <img src="{% static 'img/animacion/Caos_down.png' %}" alt="" width="130" height="130">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="d-block text-center mt-4 ">
                <h2>Misión</h2>
            </div>
            <div class="col-3 col-lg-2">
                <div id="ico_up" class="bloques-nosotros animate__animated animate__fadeInLeft">
                    <img src="{% static 'img/animacion/caos_up.png' %}" alt="" width="110" height="110">
                </div>
                <div id="ico_mid" class="bloques-nosotros mt-5 animate__animated animate__fadeInLeft animate__delay-1s">
                    <img src="{% static 'img/animacion/caos_mid.png' %}" alt="" width="100" height="100">
                </div>
                <div id="ico_down"
                    class="bloques-nosotros mt-5 animate__animated animate__fadeInLeft animate__delay-2s">
                    <img src="{% static 'img/animacion/Caos_down.png' %}" alt="" width="70" height="70">
                </div>
            </div>
            <div class="col-9 col-lg-10 animate__animated animate__fadeInRight" id="nosotros">
                <p style="margin-top: 50px; margin-right: 50px; text-align: justify;">Lorem ipsum dolor sit amet
                    consectetur adipisicing elit. Nulla hic aspernatur, voluptatum
                    laboriosam
                    similique saepe perspiciatis quod necessitatibus autem temporibus officiis explicabo
                    eligendi
                    quas,
                    omnis quidem at eos quasi dolorum.l
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. A inventore quis adipisci magni
                    quidem
                    earum tempore enim laborum sed porro voluptate vero doloremque at pariatur, ex omnis
                    temporibus
                    ad
                    facere.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni voluptas, rerum dicta vel
                    labore
                    dolor molestiae ipsum ipsam et ad obcaecati? Enim odit facilis sed aperiam, tenetur sint
                    aliquam
                    ex? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam aliquid molestias
                    eum amet veniam perferendis expedita repellat magnam unde beatae voluptates, aperiam
                    voluptas! Consequatur, esse maxime porro corrupti saepe debitis. Lorem ipsum dolor sit amet,
                    consectetur adipisicing elit. Quas excepturi, eius eos magni dolorem debitis, porro, nobis
                    repudiandae exercitationem sit illo possimus et dolorum nulla similique cum animi voluptates
                    asperiores? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequuntur ipsam
                    harum blanditiis nesciunt odit eius sunt rerum dolor non suscipit accusamus similique sit,
                    omnis iste mollitia labore, sint iure animi!
                </p>
            </div>
        </div>
        <div class="row" style="background-color:rgb(187, 220, 247);">
            <div class="d-block text-center mt-4 ">
                <h2>Visión</h2>
            </div>
            <div class="row">
                <div class="col-9 col-lg-10 border-botton animate__animated animate__fadeInLeft" id="nosotros">
                    <p style="margin-top: 50px; margin-left: 50px; color:rgb(0, 0, 0); text-align: justify;">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla hic aspernatur,
                        voluptatum
                        laboriosam
                        similique saepe perspiciatis quod necessitatibus autem temporibus officiis explicabo
                        eligendi
                        quas,
                        omnis quidem at eos quasi dolorum.l
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. A inventore quis adipisci
                        magni
                        quidem
                        earum tempore enim laborum sed porro voluptate vero doloremque at pariatur, ex omnis
                        temporibus
                        ad
                        facere.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni voluptas, rerum dicta vel
                        labore
                        dolor molestiae ipsum ipsam et ad obcaecati? Enim odit facilis sed aperiam, tenetur sint
                        aliquam
                        ex? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam aliquid
                        molestias
                        eum amet veniam perferendis expedita repellat magnam unde beatae voluptates, aperiam
                        voluptas! Consequatur, esse maxime porro corrupti saepe debitis. Lorem ipsum dolor sit
                        amet.
                    </p>
                </div>
                <div class="col-3 col-lg-2">
                    <div id="ico_up" class="bloques-nosotros animate__animated animate__fadeInRight">
                        <img src="{% static 'img/animacion/caos_up.png' %}" alt="" width="80" height="80">
                    </div>
                    <div id="ico_mid"
                        class="bloques-nosotros mt-5 animate__animated animate__fadeInRight animate__delay-1s">
                        <img src="{% static 'img/animacion/caos_mid.png' %}" alt="" width="100" height="100">
                    </div>
                    <div id="ico_down"
                        class="bloques-nosotros mt-5 animate__animated animate__fadeInRight animate__delay-2s">
                        <img src="{% static 'img/animacion/Caos_down.png' %}" alt="" width="130" height="130">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Miembros-->
    <section class="container-fluid">
        <div class="row ms-5">
            <div class="d-block text-center mt-4">
                <h2 style="margin-bottom: 50px;">Colaboradores</h2>
            </div>
            <div class="row justify-content-center">
                <div id="tarjeta" class="card me-auto mt-4" style="width: 18rem; border-radius: 15px;">
                    <img src="{% static 'img/team/fem-01.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p id="texto-tarj" class="card-text">Some quick example text to build on the card title
                            and make up the
                            bulk of the card's content.</p>
                    </div>
                </div>
                <div id="tarjeta" class="card me-auto mt-4" style="width: 18rem; border-radius: 15px;">
                    <img src="{% static 'img/team/mas-01.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the
                            bulk of the card's content.</p>
                    </div>
                </div>
                <div id="tarjeta" class="card me-auto mt-4" style="width: 18rem; border-radius: 15px;">
                    <img src="{% static 'img/team/fem-01.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the
                            bulk of the card's content.</p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center mb-4">
                <div id="tarjeta" class="card me-auto mt-4" style="width: 18rem; border-radius: 15px;">
                    <img src="{% static 'img/team/mas-01.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the
                            bulk of the card's content.</p>
                    </div>
                </div>
                <div id="tarjeta" class="card me-auto mt-4" style="width: 18rem; border-radius: 15px;">
                    <img src="{% static 'img/team/fem-01.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the
                            bulk of the card's content.</p>
                    </div>
                </div>
                <div id="tarjeta" class="card me-auto mt-4" style="width: 18rem; border-radius: 15px;">
                    <img src="{% static 'img/team/fem-01.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the
                            bulk of the card's content.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endblock contenido %}
{% block categorias %}
    {% for x in categorias %}
        <li><a href="{% url 'categ' x.nombre_catg %}">{{x.nombre_catg}}</a></li>
    {% endfor %}                        
{% endblock categorias %}

